html {
  font-size: 8px;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

.site-wrapper {
  min-height: 100vh;
  padding: 3vw;
}

.site-head {
  font-size: 1.65rem;
  max-width: 720px;
}

.site-head-container {
  align-items: center;
  border-botom: 2px solid var(--color-border);
  display: block;
}

.site-main {
  max-width: 720px;
}

nav {
  border: 0;
  font: inherit;
  padding: 0;
  verticle-align: baseline;
}

#navigation {
  margin: 0 0 42px;
}

.navigation {
  list-style: none;
  display: block;
  font-size: 1.9rem;
  line-hight: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  whitespace: nowrap;
}

a, a:hover {
  color: var(--primary-color);
  background-color: transparent;
  line-height: 1.6em;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: all;
  text-decoration-skip-ink: all;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

a:hover {
  color: var(--bg-color);
  background-color: var(--primary-color);
}

.post-content-title {
  color: var(--color-base);
  font-family: var(--font-mono);
  font-weight: var(--font-normal);
  margin: 0 0 4vw;
  text-align: left;
}

h1 {
  font-size: 4.4rem;
  margin: 0 0 .5em;
}

.post-content-body {
  font-size: 1.9rem;
  line-hight: 1.65rem;
}

.post-feed {
  display: block;
}

.post-entries {
  list-style: none;
  padding-left: 0;
}

.post-entry {
  font-size: 2rem;
  margin-bottom: 4vw;
  padding-left: 0;
}

.post-entry-excerpt {
  color: var(--color-light);
  font-size: 1.6rem;
}

.post-entry-date {
  display: block;
  float: right;
  font-family: var(--font-mono);
  font-size: 1.4rem;
  font-weight: var(--font-normal);
}

.post-pagination {
  display: block;
  margin: 6vw 0 0;
}

.pagination {
  font-size: ;
  font-weight: var(--font-normal);
}

.post-content {
  margin: 0;
  max-width: 720px;
  padding: 6vw 0 0;
}

.post-content-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.post-content-title {
  color: var(--color-base);
  font-family: var(--font-mono);
  font-wight: var(--font-normal);
  margin: 0 0 4vw;
  text-align: left;
}

.post-content-excerpt {
  color: var(--color-base);
  font-size: 2.2rem;
  line-height: 1.6em;
  margin: -2vw 0 3vw;
  text-align: left;
}

.site-footer {
  font-family: var(--font-mono);
  font-size: 1.4rem;
  font-wight: var(--font-normal);
  margin: 3vw 0 1vw;
  max-width: 720px;
  text-align: left;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.footer-links {
  margin-right: 24px;
}

body {
  background: var(--color-bg);
  color: var(--color-base);
  font-family: var(--font-sans-serif);
  font-wight: var(--font-normal);
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.6em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  max-width: 720px;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  max-width: 720px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #e6e2d6;
        --color-accent: #e7a15a;
        --color-base: #e6e2d6;
        --color-light: #aaa;
        --color-border: #333;
        --color-bg: #0f1214;
        --color-code: #e6e2d6;
        --color-code-bg: #040505;
        --color-code-border: #1a1f23;
        --font-sans-serif: "Fira Code", monospace;
        --font-serif: serif;
        --font-mono: "Fira Code", monospace;
        --font-light: 200;
        --font-normal: 400;
        --font-bold: 600;
        --font-heavy: 700;
        --xlarge: 1680px;
        --large: 1280px;
        --medium: 980px;
        --small: 740px;
        --xsmall: 480px;
        --height: 4rem;
        --margin: 2rem;
        --radius: 0.5rem;
  }
}

@font-face {
    font-family: "Fira Code";
    font-tyle: normal;
    src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
}
