<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head class="site-head">
  {{ partial "head.html" . }}
</head>
<body>
  <div class="site-wrapper">
    <header class="site-header">
        <div class="site-head-container">
            {{ partial "header.html" . }}
        </div>
    </header>
    <main class="site-main">
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>
