{{ define "main" }}
  <article class="post-content">
    <header class="post-content-header">
      <h1 class="post-content-title">{{ .Title }}</h1>
    </header>
    <p class="post-content-excerpt">{{ .Summary }}</p>
    <div class="post-content-body">
      {{ .Content }}
    </div>
  </article>
{{ end }}
{{ define "main" }}
  <header class="page-head">
    <h1 class="page-head-title">{{ .Title }}</h1>
    {{ .Content }}
  </header>
  <div class="post-feed">
    <div class="post-entries">
      <ul class="post-entries">
        {{ range .Paginator.Pages }}
          <li class="post-entry">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            <div class="post-entry-excerpt">{{ .Summary }}</div>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
  {{ partial "pagination.html" . }}
{{ end }}
